<style>
  .isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
</style>
<div style="background: #e5e5e5 !important;">
  <div class="footer">
    <div class="page-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="footer-links">
              <!--    <h4 style="font-family:Calibri !important;">DOCUMENTS REQUIRED</h4>
                            <ul>
                                <li><a style="font-family:Calibri !important;" id="doc1" target="_blank" href="assets/docs/DocumentListMarch.pdf">NEW/RENEWAL/MODIFICATION OF LICENSE</a>
                                </li>
                                <li><a style="font-family:Calibri !important;" id="apply" target="_blank" href="assets/docs/DocumentsrequiredforRegistrationCertificate.pdf">NEW
                                        REGISTRATION</a></li>
                            </ul>
                            <h4><a style="font-family:Calibri !important;" target="_blank" href="assets/docs/KindofBusinessEligibilityLatest.pdf" id="home">FEE STRUCTURE</a></h4>
                            -->
            </div>
          </div>

          <div class="col-sm-3">
            <div class="footer-links">
              <!--    <h4 style="font-family:Calibri !important;">ADDITIONAL INFORMATION</h4>
                            <ul>
                                <li style="color: white;">ANNUAL RETURN <a style="font-family:Calibri !important;" id="apply" target="_blank" href="assets/images/Annual_Return_Format.png">FORM D-1</a>
                                <li><a style="font-family:Calibri !important;" id="apply" target="_blank" href="assets/images/AnnualreturnImporter.png">Importer</a></li>
                                <li><a style="font-family:Calibri !important;" id="apply" target="_blank" href="assets/images/exporter.png">Exporter</a></li>
                                <li><a style="font-family:Calibri !important;" id="apply" target="_blank" href="https://www.fssai.gov.in/cms/inspection-matrices.php" target="_blank">INSPECTION CHECKLIST</a></li>
                                <li><a style="font-family:Calibri !important;" id="apply" target="_blank" href="https://www.fssai.gov.in/cms/licensecondition.php">CONDITION OF LICENSE</a></li>
                            </ul>-->
            </div>
          </div>

          <div class="col-sm-3">
            <div class="footer-links">
              <!--    <h4>
                                <a id="infoSearch" href="#"></a>
                            </h4>
                            <ul>
                                <li><a style="font-size: 19px;font-family:Calibri !important;" id="apply" href="https://fssai.gov.in/cms/food-safety-and-standards-act-2006.php" target="_blank">FSS ACT,
                                        2006</a> </li>
                                <li><a style="font-size: 19px;font-family:Calibri !important;" id="apply" href="https://fssai.gov.in/cms/food-safety-and-standards-rules--2011.php" target="_blank">FSS RULES,
                                        2011</a> </li>
                                <li><a style="font-size: 19px;font-family:Calibri !important;" id="apply" href="https://fssai.gov.in/cms/food-safety-and-standards-regulations.php" target="_blank">FSS
                                        REGULATIONS</a> </li>
                                <li><a style="font-size: 19px;font-family:Calibri !important;" id="apply" href="https://fssai.gov.in/notifications.php?notification=gazette-notification" target="_blank">GAZETTE NOTIFICATION</a> </li>
                                <li><a style="font-size: 19px;font-family:Calibri !important;" id="apply" href="https://fssai.gov.in/advisories.php" target="_blank">ADVISORIES/ORDERS</a>
                                </li>
                            </ul>-->
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer-links">
              <!--    <h4 style="font-family:Calibri !important;">USEFUL LINKS</h4>
                            <ul>
                                <li><a style="font-family:Calibri !important;" id="apply" href="https://fostac.fssai.gov.in/fostac/index" target="_blank">FoSTaC</a> </li>
                                <li><a style="font-family:Calibri !important;" id="apply" href="https://fssai.gov.in/AMS/" target="_blank">Audit Management System</a>
                                </li>
                                <li><a style="font-family:Calibri !important;" id="apply" href="https://fssai.gov.in/mitra/loadIndexData" target="_blank">FOOD SAFETY
                                        MITRA</a> </li>
                                <li><a style="font-family:Calibri !important;" id="apply" target="_blank" href="https://www.fssai.gov.in/cms/food-laboratories.php">Notified Food
                                        Laboratories</a>
                                </li>
                                <li> <a  [routerLink]="['/state-wise-statistics']"> Data  Statistics</a></li>
                                <li><a style="font-family:Calibri !important;" id="apply" [routerLink]="['/more-link']">More Links</a>
                                </li>
                            </ul>-->
            </div>
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container" style="text-align: center;">

          <p>
            <a style="font-family:Calibri !important;" id="reportVulnerability" style="cursor: pointer;" title="Home"
              [routerLink]="['/']">Home</a> |
            <a style="font-family:Calibri !important;" id="privacyStatement" [routerLink]="['/privacy-policy']">Privacy
              Policy</a> |
            <a style="font-family:Calibri !important;" id="privacyStatement"
              [routerLink]="['/disclaimer']">Disclaimer</a> |
            <a style="font-family:Calibri !important;" id="termsOfUse" [routerLink]="['/site-map']">Site
              Map</a> |
            <a style="font-family:Calibri !important;" target="_blank" href="assets/docs/SOP_Order18082020.pdf">Refund
              &amp; Cancellation Policy </a> |
            <a style="font-family:Calibri !important;" target="_blank" id="termsOfUse"
              href="assets/docs/Terms_and_Conditions_FoSCoS.pdf">Terms &amp; Conditions</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
