.captcharow .form-control{padding: 0rem 0; height: 42px; text-align: center; min-width: 50px;}
/* .captcharesult .form-control{width: 144px; text-align: left;padding: 1.4rem 1.2rem;} */
.captcharow  .signs h2 {padding: 12px 0 0 6px; font-size: 18px;}
.btn-capsule{border-radius: 20px; font-size: 14px; border:1px solid #d3dfeb; font-weight: 400;}
.logintitle{font-size: 1.125rem;color: #090909;}

body.login-page{
    padding:0;
}
.login-logo:focus-visible{
    outline: 0px;
}
.otp-modal .input-group-text{
    background:none;
}
.otp-modal .fa-unlock{
    font-size: 14px;
    margin-right: 5px;
    vertical-align: middle;
}
.otp-modal .modal-body{
    padding: 15px 60px;
}
.otp-modal form{
    width: 100%;
}
.otp-modal .form-control.is-invalid .fa-envelope, 
.otp-modal.was-validated .form-control:invalid .fa-envelope{
    margin-top: -21px;
}