<router-outlet></router-outlet>
<simple-notifications [options]="getNotificationOptions()"></simple-notifications>
<!-- ngx-spinner -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
</ngx-spinner>
<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->