<div style="background: #e5e5e5 !important;">
    <div class="wrapper" style="background: white;">
        <div class="w3-container" style="text-align:right;padding-bottom: 3px;font-size: 13px;">
            <span style="color: #000; margin-right: 10px;">

        <a style="cursor: pointer;" title="font increase" onclick="incre();" id="incfont">A+</a>&nbsp;&nbsp;|
        <a style="cursor: pointer;" title="font normal" onclick="normalfont();" id="A1">A</a>&nbsp;&nbsp;|
        <a style="cursor: pointer;" title="font decrease" onclick="decr();" id="decfont">A-</a>
      </span>
        </div>
        <div class="w3-row w3-center">
            <div class="col-md-4">
                <a href="https://www.fssai.gov.in" target="_blank">
                    <img src="assets/images/fssai2.webp" alt="FSSAI" style="width:100%;max-width:300px;margin-left: 8px;margin-top: 10px;"></a>
            </div>

            <div class="col-md-4">
                <a [routerLink]="['/']"> <img src="assets/images/fos.webp" alt="FOSCOS" style="margin-top: 35px;height: 70px;max-width: 100%;"></a>
            </div>
          
            <div class="col-md-4">
                <img src="assets/images/EatRightIndia07112019.webp" alt="FOSCOS" style="height: 52px; max-width: 58%; margin-top: 40px">
            </div>



            <div class="w3-container" style="text-align:right;padding-bottom: 10px;">
               

                <span style="color: #000; margin-right: 10px;">

          <!-- <a [routerLink]="['/']" style="cursor: pointer;" title="Home">Home</a>&nbsp;&nbsp;|
          <a [routerLink]="['/about-foscos']" style="cursor: pointer;" title="About FoSCoS">About
            FoSCoS</a>&nbsp;&nbsp;|
          <a href="https://www.fssai.gov.in" target="_blank" style="cursor: pointer;" title="FSSAI">FSSAI</a>&nbsp;&nbsp;|
        
          <a [routerLink]="['/user-manual']"  style="cursor: pointer;" title="User Manual">User Manual</a>&nbsp;&nbsp;|
          
          <a (click)="fboSignIn()" style="cursor: pointer;color: blue;" title="Login-Businesses"><b>Login-Businesses</b></a>&nbsp;&nbsp;|
          <a (click)="officerSignIn()" style="cursor: pointer;color: blue;" title="Login-Authorities"><b>Login-Authorities</b></a> -->
         

        </span>

            </div>
        </div>
    </div>
</div>